<div class="card-login">
  <img src="../../assets/ls-logo-dark.png" alt="Logo" class="img-logo">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="form-field-login">
        <mat-label>Usuário</mat-label>
        <input type="text" matInput placeholder="Usuário" formControlName="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessage('username')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field-login">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
      <div class="div-button">
        <button type="submit" mat-raised-button color="primary" [disabled]="this.form.invalid">Login</button>
      </div>
    </form>
  </mat-card-content>
</div>