.card-login {
  margin: auto;
  height: min-content;
  width: min-content;
  padding: 50px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.div-button {
  display: flex;
  justify-content: flex-end;
}

.div-button button {
  padding: 2px 20px;
  width: -webkit-fill-available;
}

.img-logo {
  width: 125px;
  margin: auto;
  display: flex;
  margin-bottom: 25px;
}