.card-login {
  margin: auto;
  height: min-content;
  width: min-content;
  padding: 50px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.div-button {
  display: flex;
  justify-content: flex-end;
}

.div-button button {
  padding: 5px 20px;
  width: -webkit-fill-available;
}

.img-logo {
  width: 125px;
  margin: auto;
  display: flex;
  margin-bottom: 25px;
}

mat-spinner {
  margin: auto;
}

.padding-for-loading {
  padding: 10.5px 0px !important;
}